<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <LinkString1>Server=localhost;user id=root;password=;Database=chenkuserdb37;Port=3308;charset=utf8;</LinkString1>
  <LinkString2>Server=localhost;user id=root;password=;Database=chenkuserdb37;Port=3308;charset=utf8;</LinkString2>
  <EmailID>gzsjysczyy</EmailID>
  <EmailPWD>8223350808</EmailPWD>
  <EmailAddress>gzsjysczyy@163.com</EmailAddress>
  <EmailSMTP>smtp.163.com</EmailSMTP>
</Config>
