<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <!--转货远程数据库地址及邮件服务器配置-->
  <LinkString1>D:\WorkStation\GitHub\TiffanyTransfer\BHair\bin\Debug\转货数据库.accdb</LinkString1>
  <EmailID1></EmailID1>
  <EmailPWD1></EmailPWD1>
  <EmailAddress1></EmailAddress1>
  <EmailSMTP1></EmailSMTP1>
  <!--员工内购远程数据库地址及邮件服务器配置-->
  <LinkString2>D:\WorkStation\GitHub\TiffanyPurchase\BHair\bin\Debug\员工内购数据库.accdb</LinkString2>
  <EmailID2></EmailID2>
  <EmailPWD2></EmailPWD2>
  <EmailAddress2></EmailAddress2>
  <EmailSMTP2></EmailSMTP2>
  <!--系统相关设置-->
  <EmailRate>3</EmailRate>       <!--邮件发送间隔,按邮件服务器相关配置设置,默认3秒-->
  <MainRate>600</MainRate>         <!--主事件轮询间隔,默认1800秒-->
  <DBCacheRate>3700</DBCacheRate>        <!--服务端数据缓存轮询间隔,默认3700秒.请勿设置为主事件轮询间隔时间的整倍数,以免同时启动.-->
  <EmailTestFlag>0</EmailTestFlag>        <!--Debug模式开关-->
  <EmailTestAddress>owdely@163.com</EmailTestAddress>       <!--Debug邮件接收地址-->
</Config>
